* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* begin header */
#header {
    width: 100%;
    height: 66px;
    position: fixed;
    padding: 0 16px;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e8ebed;
    background-color: #fff;
}

#header .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#header .logo a img {
    width: 50px;
    height: 50px;
    margin: 0 20px 0 0;
}

#header .search {
    width: 520px;
}

#header .search:hover {
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    border-radius: 60px;
    width: 100%;
    max-width: 520px;
}

#header .login a {
    border: none;
    color: #fff;
    background-color: #f53a07;
    padding: 12px 24px;
    border-radius: 999px;
    display: inline-block;
    font-size: 16px;
}

#header .user a {
    border: none;
    color: #fff;
    background-color: #f53a07;
    padding: 12px 16px;
    border-radius: 24px;
    display: inline-block;
    font-size: 16px;
}

#header .login:hover a{
    background-color: #d6471f;
    border-radius: 999px;
}

.search-btn {
    width: 100%;
    max-width: 520px;
    background-color: rgba(214, 190, 190, 0.3);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 4px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search-btn input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 16px;
    color: black;
}

.search-btn button {
    border: 0;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background-color: #e6d6d6;
    cursor: pointer;
}

.search-btn button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.search-btn button i {
    width: 16px;
}

::placeholder {
    color: black;
}

/* end header */

#slider {
    display: flex;
    /* min-height: 100vh; */
    padding-top: 66px;
}

.menu {
    position: fixed;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    border-bottom-right-radius: 12px;
}

.menu .list {
    list-style-type: none;
}

.menu .list .learning {
    position: relative;
}

.menu>.list>li>a{
    border: 0;
    width: 70px;
    height: 70px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 4px;

}

.menu>.list>li:hover>a {
    background-color: #e6d6d6;
}

.menu .list li a span{
    font-size: 12px;
    font-weight: 600;
    margin-top: 6px;
    text-align: center;
}

.menu .list .sub-teaching{
    position: absolute;
    display: none;
    transition: 0.6s;
}

.menu .list .teaching:hover .sub-teaching {
    background-color: #e6d6d6;
    display: block;
    left: 78px;
    list-style-type: none;
    top: -1px;
    width: 800%;
    border-radius: 16px;
    padding-top: 28px;
    padding-bottom: 114px;
    margin-left: .5px;
    transition: 0.6s;
}

.menu .list .sub-learning {
    position: absolute;
    display: none;
}

.menu .list li:hover .sub-learning {
    background-color: #e6d6d6;
    display: block;
    left: 78px;
    list-style-type: none;
    top: -153px;
    width: 800%;
    border-radius: 16px;
    padding-top: 28px;
    padding-bottom: 114px;
    margin-left: .5px;
}

.sub-learning li ,
.sub-teaching li {
    /* padding: 12px; */
    font-weight: 600;
}

.sub-learning li a ,
.sub-teaching li a {
    padding: 12px;
    display: block;
}

.sub-learning li:hover ,
.sub-teaching li:hover {
    background-color: #e8ebed;
    display: block;
    border-radius: 16px;
}

.slideshow {
    margin: 10px 10px 10px 88px;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    border: 1px solid #e8ebed;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 300px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 300px;
}

.nav-manual {
    position: absolute;
    width: 100%;
    margin-top: 12px;
    display: flex;
    justify-content: flex-start;
}

.manual-btn {
    /* border: 1px solid #40d3dc;
    background: #ddf7f8;
    width: 40px;
    height: 8px;
    border-radius: 10px;
    cursor: pointer; */
    display: none;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #40d3dc;
}

#radio-1:checked ~ .first {
    margin-left: 0;
}

#radio-2:checked ~ .first {
    margin-left: -20%;
}

#radio-3:checked ~ .first {
    margin-left: -40%;
}

.nav-auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-top: 312px;
}

.nav-auto div {
    /* border: 1px solid #40d3dc;
    width: 40px;
    height: 8px;
    border-radius: 10px; */
    transition: 1s;
    display: none;
}

.nav-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio-1:checked ~ .nav-auto .auto-btn1{
    background: #40d3dc;
}

#radio-2:checked ~ .nav-auto .auto-btn2{
    background: #40d3dc;
}

#radio-3:checked ~ .nav-auto .auto-btn3{
    background: #40d3dc;
}

#content {
    margin:20px 0 20px 88px;
}

.head-list {
    color: #242424;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 0 0 16px 12px;
    margin-right: auto;
    margin-top: 16px;
}

.learn-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tab{
    cursor: pointer;
    padding:12px 20px;
    background:#000;
    display:inline-block;
    color:#fff;
    border-radius:3px 3px 0px 0px;
    box-shadow: 0 4px 16px #00000080;
}

.panels{
    background:#fffffff6;
    box-shadow: 0 12px 32px -8px #00000080;
    min-height:200px;
    width:100%;
    max-width:1200px;
    border-radius:0 0 3px 3px;
    overflow:hidden;
    padding:20px;  
}

.panel{
  display:none;
  animation: fadein .8s;
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

.radio{
  display:none;
}

#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel,
#four:checked ~ .panels #four-panel{
  display:block;
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab,
#four:checked ~ .tabs #four-tab{
  background:#fffffff6;
  color:#000;
  /* border-top: 3px solid #000; */
}

.list-content {
    min-height: 132px;
    padding-bottom: 0;
}

.name-list {
    display: flex;
    align-items: center;
}

.list-item {
    display: flex;
    flex-wrap: wrap;
}

.item-in {
    padding: 8px;
}

.view-all {
    padding-right: 40px;
    color: #d6471f;
}

.view-all:hover {
    text-decoration: underline;
    color: #f53a07;
}

a.item h4{
    background-color: #40d3dc;
    width: 216px;
    height: 120px;
    font-size: larger;
    border-radius: 12px;
    line-height: 120px;
    text-align: center;
}

.name-learn {
    padding: 4px 12px;
}

#footer {
    width: 100%;
    color: #e6d6d6;
    height: 280px;
    background-color: #2d3131;
}

