<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Học Tập TNUT</title>
    <link rel="icon" type="images/x-icon" href="/static/css/images/logofee-removebg-preview.png" />
    <link rel="stylesheet" href="/static/css/home.css" />
    <script src="https://kit.fontawesome.com/9e3574538e.js" crossorigin="anonymous"></script>
</head>
<body>
    
</body>
</html>

<body>
    <div id="main">
        <!-- begin header -->
        <div id="header">
            <div class="logo">
                <a href=""><img src="static/css/images/logofee-removebg-preview.png" alt="Học tập và giảng dạy TNUT" /></a>
                <h4>Học Tập Và Giảng Dạy FEE</h4>
            </div>
            <div class="search">
                <form action="" class="search-btn">
                    <input type="text" placeholder="Tìm kiếm..." autofocus required />
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="user">

            </div>
        </div>
        <!-- end header -->

        <div id="slider">
            <!-- begin menu -->
            <div class="menu">
                <ul class="list">
                    <li>
                        <a href="">
                            <i class="fa-solid fa-house"></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="teaching">
                        <a href="">
                            <i class="fa-solid fa-chalkboard-user"></i>
                            <span>Giảng Dạy</span>
                        </a>
                        <ul class="sub-teaching">
                            <li><a href="#teach">Lịch Học</a></li>
                            <li><a href="#teach">Tài Liệu</a></li>
                            <li><a href="#teach">Bài Tập Và Quiz</a></li>
                            <li><a href="#teach">Video Bài Giảng</a></li>
                        </ul>
                    </li>
                    <li class="learning">
                        <a href="">
                            <i class="fa-solid fa-lightbulb"></i>
                            <span>Học Tập</span>
                        </a>
                        <ul class="sub-learning">
                            <li><a href="#KTMT">Kỹ Thuật Máy Tính</a></li>
                            <li><a href="#DTVT">Điện Tử Viễn Thông</a></li>
                            <li><a href="#KTDK">Kỹ Thuật Điều Khiển</a></li>
                            <li><a href="#KTDT">Kỹ Thuật Điện Tử</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa-solid fa-arrows-rotate"></i>
                            <span>Trao Đổi <br />
                                Kiến Thức</span>
                        </a>
                    </li>
                    <li class="slider"></li>
                </ul>
            </div>
            <!-- end menu -->
            <!-- begin slideshow -->
            <div class="slideshow">
                <div class="slides">
                    <input type="radio" name="radio-btn" id="radio-1" />
                    <input type="radio" name="radio-btn" id="radio-2" />
                    <input type="radio" name="radio-btn" id="radio-3" />
                    <div class="slide first">
                        <img src="/static/css/images/anhkhoa.jpg" alt="" />
                    </div>
                    <div class="slide">
                        <img src="/static/css/images/anhkhoa1.jpg" alt="" />
                    </div>
                    <div class="slide">
                        <img src="/static/css/images/anhkhoa2.jpg" alt="" />
                    </div>
                    <!-- nav automatic begin-->
                    <div class="nav-auto">
                        <div class="auto-btn1"></div>
                        <div class="auto-btn2"></div>
                        <div class="auto-btn3"></div>
                    </div>
                    <!-- nav automatic end -->
                </div>
                <!-- nav manual begin -->
                <div class="nav-manual">
                    <label for="radio-1" class="manual-btn"></label>
                    <label for="radio-2" class="manual-btn"></label>
                    <label for="radio-3" class="manual-btn"></label>
                </div>
                <!-- nav manual end -->
            </div>
            <!-- end slideshow -->
            <script type="text/javascript">
                var counter = 1;
                setInterval(function () {
                    document.getElementById("radio-" + counter).checked = true;
                    counter++;
                    if (counter > 3) {
                        counter = 1;
                    }
                }, 5000);
            </script>
        </div>
        <!-- end slider -->
        <div id="content">
            <div id="teach">
                <div class="name-list">
                    <h2 class="head-list"><a href="">Giảng Dạy</a></h2>
                    <a href="" class="view-all">Xem Chi Tiết &#8250;&#8250;</a>
                </div>
                <div class="list-content">
                    <div class="list-item">
                        <div class="item-in">
                            <a href="" class="item"><h4>Lịch Học</h4></a>
                        </div>
                        <div class="item-in">
                            <a href="" class="item"><h4>Tài Liệu</h4></a>
                        </div>
                        <div class="item-in">
                            <a href="" class="item"><h4>Bài Tập</h4></a>
                        </div>
                        <div class="item-in">
                            <a href="" class="item"><h4>Video Tham Khảo</h4></a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div id="learn">
                <div class="name-list">
                    <h2 class="head-list"><a href="">Học Tập</a></h2>
                    <a href="" class="view-all">Xem Chi Tiết &#8250;&#8250;</a>
                </div>
                <div id="KTMT">
                    <h3 class="name-learn">Kỹ Thuật Máy Tính</h3>
                    <div class="list-content">
                        <div class="list-item">
                            <div class="item-in">
                                <a href="" class="item"><h4>Lịch Học</h4></a>
                            </div>
                            <div class="item-in">
                                <a href="" class="item"><h4>Tài Liệu</h4></a>
                            </div>
                            <div class="item-in">
                                <a href="" class="item"><h4>Bài Tập</h4></a>
                            </div>
                            <div class="item-in">
                                <a href="" class="item"><h4>Video Tham Khảo</h4></a>
                            </div>
                            <div class="item-in">
                                <a href="" class="item"><h4>Lịch Học</h4></a>
                            </div>
                            <div class="item-in">
                                <a href="" class="item"><h4>Tài Liệu</h4></a>
                            </div>
                            <div class="item-in">
                                <a href="" class="item"><h4>Bài Tập</h4></a>
                            </div>
                            <div class="item-in">
                                <a href="" class="item"><h4>Video Tham Khảo</h4></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="DTVT">
                    <h3 class="name-learn">Điện Tử Viễn Thông</h3>
                    <div class="list-content">
                        <div class="list-item">
                            <div class="item-in">
                                <a href="" class="item"><h4>Lịch Học</h4></a>
                            </div>
                            <div class="item-in">
                                <a href="" class="item"><h4>Tài Liệu</h4></a>
                            </div>
                            <div class="item-in">
                                <a href="" class="item"><h4>Bài Tập</h4></a>
                            </div>
                            <div class="item-in">
                                <a href="" class="item"><h4>Video Tham Khảo</h4></a>
                            </div>
                            <div class="item-in">
                                <a href="" class="item"><h4>Lịch Học</h4></a>
                            </div>
                            <div class="item-in">
                                <a href="" class="item"><h4>Tài Liệu</h4></a>
                            </div>
                            <div class="item-in">
                                <a href="" class="item"><h4>Bài Tập</h4></a>
                            </div>
                            <div class="item-in">
                                <a href="" class="item"><h4>Video Tham Khảo</h4></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="KTDK">
                    <h3 class="name-learn">Kỹ Thuật Điều Khiển</h3>
                    <div class="list-content">
                        <div class="list-item">
                            <div class="item-in">
                                <a href="" class="item"><h4>Lịch Học</h4></a>
                            </div>
                            <div class="item-in">
                                <a href="" class="item"><h4>Tài Liệu</h4></a>
                            </div>
                            <div class="item-in">
                                <a href="" class="item"><h4>Bài Tập</h4></a>
                            </div>
                            <div class="item-in">
                                <a href="" class="item"><h4>Video Tham Khảo</h4></a>
                            </div>
                            <div class="item-in">
                                <a href="" class="item"><h4>Lịch Học</h4></a>
                            </div>
                            <div class="item-in">
                                <a href="" class="item"><h4>Tài Liệu</h4></a>
                            </div>
                            <div class="item-in">
                                <a href="" class="item"><h4>Bài Tập</h4></a>
                            </div>
                            <div class="item-in">
                                <a href="" class="item"><h4>Video Tham Khảo</h4></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="KTDT">
                    <h3 class="name-learn">Kỹ Thuật Điện Tử</h3>
                    <div class="list-content">
                        <div class="list-item">
                            <div class="item-in">
                                <a href="" class="item"><h4>Lịch Học</h4></a>
                            </div>
                            <div class="item-in">
                                <a href="" class="item"><h4>Tài Liệu</h4></a>
                            </div>
                            <div class="item-in">
                                <a href="" class="item"><h4>Bài Tập</h4></a>
                            </div>
                            <div class="item-in">
                                <a href="" class="item"><h4>Video Tham Khảo</h4></a>
                            </div>
                            <div class="item-in">
                                <a href="" class="item"><h4>Lịch Học</h4></a>
                            </div>
                            <div class="item-in">
                                <a href="" class="item"><h4>Tài Liệu</h4></a>
                            </div>
                            <div class="item-in">
                                <a href="" class="item"><h4>Bài Tập</h4></a>
                            </div>
                            <div class="item-in">
                                <a href="" class="item"><h4>Video Tham Khảo</h4></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            
        </div>
    </div>
</body>

</html>